<!DOCTYPE html>
<html>
<head>
  <title>Picasa Rails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |key, value| %>
	<div class="flash" id='<%= key %>'>
		<%= value %>
	</div>
<% end %>
<h1><%= link_to 'Picasa Rails', root_path %></h1>
<nav>
	<% if user_signed_in? %>
		<%= current_user.email %>
		<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
		<%= link_to 'List albums', "/list" %>
	<% else %>
		<%= link_to 'Sign in', "/users/auth/google_oauth2" %>
	<% end %>
</nav>
<%= yield %>

</body>
</html>
